/*reset*/
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/*common*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*body*/

body {
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    color: #949494;
}

h1 {
    color: black;
    font-weight: 900;
}

.oscuramento {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 15px;
}

/*formattazione img*/

.parte-sopra, .img-row-sx, .img-row-cx, .img-row-dx {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*header*/

.header {
    margin: 20px 0px;
}

.logo {
    height: 60px;
    border-right: 1px solid black;
    padding-right: 10px;
    margin-bottom: 30px;
}

.nav a{
    text-decoration: none;
    color: rgb(168, 168, 168);
    padding-right: 15px;
}

.nav {
    margin-bottom: 40px;
}


/*main parte alta*/
.parte-sopra {
    height: 630px;
    background-image: url(../img/banner.jpg);
    margin-bottom: 20px;
}

.testo-signorina {
    width: 700px;
    position: absolute;
    bottom: 0;
    margin: 100px 60px; 
    color: white;   
    z-index: 1;
}

.title {
    font-size: 40px;
}

/*sezione colonne*/

.img-row-sx, .img-row-cx, .img-row-dx {
    height: 250px;
}

.img-row-sx {
    background-image: url(../img/img-1.jpg);
}

.img-row-cx{
    background-image: url(../img/banner-2.jpg);
}

.img-row-dx {
    background-image: url(../img/img-3.jpg);
    /*comunque la lampadina ha forma di 8==D*/
}

.colonna-dx, .colonna-cx, .colonna-sx {
    float: left;
}
.colonna-dx, .colonna-sx {
    width: 20%;
}

.colonna-cx {
    width: calc(60% - 40px);
    margin: 0 20px;
}

.colonne {
    padding: 20px 0;
}

.subtitle {
    padding: 10px 0;
    color: black;
    font-weight: 600;
    
}

/*footer*/

.footer {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.cuore {
    color: red;
}

