/*reset*/
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/*common*/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*body*/

body {
    width: 80%;
    margin: auto;
}

/*header*/
.header {
    margin: 20px 0px;
}

.logo {
    height: 60px;
    border-right: 1px solid black;
    padding-right: 10px;
    margin-bottom: 30px;
}

.nav a{
    text-decoration: none;
    color: rgb(168, 168, 168);
    padding-right: 15px;
}

.nav {
    margin-bottom: 40px;
}


/*main*/
.parte-sopra {
    height: 450px;
    background-color: yellowgreen;
    margin: 20px 0px;
}

.parte-sotto {
    background-color: blue;
}


.barra, .colonna-dx, .colonna-cx, .colonna-sx {
    background-color: cornflowerblue;
}

.barra {
    height: 50px;
}

.colonna-dx, .colonna-cx, .colonna-sx {
    float: left;
}
.colonna-dx, .colonna-sx {
    width: 20%;
}

.colonna-cx {
    width: calc(60% - 40px);
    margin: 0 20px;
}

.colonne {
    padding: 20px 0;
}

.footer {
    height: 80px;
    background-color: rgb(207, 148, 207);
    margin-top: 10px;
    margin-bottom: 20px;
}

